<!DOCTYPE html>
<html>
<head>
<title>Bitcoin Lottery</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>
<body>
	<header id="page-header">
		<div class="wrap">
			<h1 id="logo">Bitcoin Lottery</h1>
			<span id="current-value">1btc = 980.21 USD</span>
		</div>
	</header>
	<section id="cover">
		<div class="wrap">
			<h2 id="slogan">The coolest lottery on the planet</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus semper, eros ac congue iaculis, libero <br/>
			lorem hendrerit felis, ac ultrices augue purus a tellus. Pellentesque non libero fringilla eros blandit<br/>
			ultricies. Nullam elementum dolor in mauris vestibulum, id vulputate sapien ultricies. Class aptent taciti<br/>
			sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
		</div>
	</section>
	<div class="wrap">
		<form id="participate" action="participate" method="POST">
			{% csrf_token %}
			<input type="text" name="name" placeholder="Name"/>
			<input type="email" name="email" placeholder="E-mail Adress"/>
			<input type="text" name="bcaddress" placeholder="Bitcoin Address"/>
			<input type="text" name="amount" placeholder="Amount"/>
			<input type="submit" class="green" value="Participate"/>
		</form>
	</div>
	<div class="wrap">
		<section class="s4">
			<h3>Participants from all over the world</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus semper, eros ac congue iaculis, libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus semper, eros ac congue iaculis, libero.</p>
		</section>
		<section class="s4">
			<h3>New draw every month</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus semper, eros ac congue iaculis, libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus semper, eros ac congue iaculis, libero.</p>
		</section>
		<section class="s4">
			<h3>I like tangerines</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus semper, eros ac congue iaculis, libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus semper, eros ac congue iaculis, libero.</p>
		</section>
	</div>
	<div class="wrap">
		<footer id="page-footer">
				<span>&copy; 2014 - Bitcoin Lottery</span>
		</footer>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript">
		// E-mail address validation function
		function isValidEmailAddress(emailAddress) {
			var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
			return pattern.test(emailAddress);
		};

		// Force certain input form
		$('form#participate input[name=amount]').keyup(function() {
			var clean = jQuery(this).val().replace(/[^,.0-9 _]/g,'');
			jQuery(this).val(clean);
		});

		$('form#participate input[name=bcaddress]').keyup(function() {
			var clean = jQuery(this).val().replace(/[^a-zA-Z0-9 _]/g,'');
			jQuery(this).val(clean);
		});

		$('form#participate').submit(function(){
			var name = $('form#participate input[name=name]').val();
			var email = $('form#participate input[name=email]').val();
			var bcaddress = $('form#participate input[name=bcaddress]').val();
			var amount = $('form#participate input[name=amount]').val();
			var csrfmiddlewaretoken = $('form#participate input[name=csrfmiddlewaretoken]').val();

			// Check whether input is valid
			var valid = true;
			if(!isValidEmailAddress(email)){
				valid = false;
				alert('Please fill in a valid e-mail address!');
			}else if(name == '' || email == '' || bcaddress == '' || amount == ''){
				valid = false;
				alert('Please fill in all input fields');
			}

			// If valid, send to backend
			if(valid){
				$('form#participate input[type=submit]').val('Sending...');

				$.ajax({
					url: 'participate/',
					method: 'POST',
					cache: false,
					data: {
						'name': name,
						'email': email,
						'bcaddress': bcaddress,
						'amount': amount,
						'csrfmiddlewaretoken': csrfmiddlewaretoken
					}
				}).done(function(response){
					if(response.status == 'ok'){
						$('form#participate').children().remove();
						$('form#participate').append('<h3>Thank you, ' + name + '!</h3>');
						$('form#participate').append('<p>You are now participating in the lottery.</p>');
					}
					else{
						alert('Something went wrong on our side. Try again in a second!');
					}
				});
			}
			return false;
		})
	</script>
</body>
</html>